@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #18181B;
  --background: #FDFBF7;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}